 <%- include('includes/header') %>
        <link rel="stylesheet" href="../index.css">
    </head>
    <body>
<%- include('includes/navbar') %>
        <h1>Blurple Vape Store Puebla</h1>
        <div class="banner">

        </div>
        
        <h2><%= productos.length === 0 ? 'No hay productos disponibles': 'Todos los productos' %></h2>

        <% if(productos.length > 0){ %>

            
                <div class='shop'>
                    <% productos.forEach(producto => { %>
                    <a href="/producto/id=<%= producto.pId %>">
                        <div class="tarjeta">
                            <img src="<%= producto.pImg %>" height="180px" width="180px">
                            <h3> <%= producto.pName %></h3>
                            <p> <%= producto.pDesc %></p>
                            <p> $<%= producto.pPrice %></p>
                        </div>
                    </a>  
                    <% }); %>
                </div>
              
        <% } %>
        
<%- include('includes/footer') %>