<%- include ('includes/header') %>
    <link rel="stylesheet" href="../../index.css">
</html>

<body>
    <%- include ('includes/navbar') %>

    <h2><%= cat %></h2>

        <% productos.forEach( producto => { %>
            <div class="card">
                <img src="<%= producto.pImg %>" widht="200px" height="200px">
                <h3><%= producto.pName %></h3>
                <p> <%= producto.pDesc %></p>
                <p> $<%= producto.pPrice %></p>
            </div>
        <% }) %>
    

<%- include ('includes/footer') %>